@import '../variables';

.categories {
  margin-bottom: 1em;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      margin: 0 0.3em 0.5em 0;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }

  }

  @media (max-width: 1100px) {
    margin-bottom: 0.5em;
    justify-content: center;
    width: 100%;

    ul {
      flex-wrap: nowrap;
      overflow: hidden;
      width: 100%;
      overflow-x: auto;
      padding-bottom: 0.25em;

      li{
        font-size: 14px;
        padding: 6px 15px;
      }
    }
  }
}
