@import '../variables';

.sort {
  position: relative;
  margin-bottom: 1.5em;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &__label {
    display: flex;
    align-items: center;

    &-triangle {
      margin-right: 8px;
      transition: transform 0.1s linear;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: $orange;
      border-bottom: 1px dashed $orange;
      cursor: pointer;
    }

    &--active &-triangle{
        transform: rotate(180deg);
    }
  }

  &__order {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
    transform-origin: 50% 50%;
    cursor: pointer;

    svg path {
      transition: fill .2s linear;
    }

    &--asc {
      transform: rotate(-180deg);
    }

    &:hover {
      svg path{
        fill: #fe5f1e;
      }
    }
  }

  &__popup {
    position: absolute;
    left: 65px;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    ul {
      overflow: hidden;
      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(254, 95, 30, 0.05);
        }

        &.active {
          font-weight: bold;
          color: $orange;
        }
      }
    }
  }

  @media (max-width: 1100px) {
    margin-bottom: 0;
  }
  @media (max-width: 768px) {
    &__label {
      font-size: 14px;
    }
  }
}
